env:
  TERM: alacritty-direct

window:
  startup_mode: Maximized
  decorations: none
  padding:
    x: 2
    y: 5
  dynamic_padding: true

scrolling:
  history: 10000

font:
  normal:
    family: Hack Nerd Font Mono
    style: Regular
  size: 20

shell:
  program: {{ tmux_path }}
  args:
    - new-session
    - -A
    - -D
    - -s
    - default

mouse_bindings:
  - { mouse: Middle, action: PasteSelection }

mouse:
  hide_when_typing: true

selection:
  semantic_escape_chars: ",│`|:\"' ()[]{}<>"

  # When set to `true`, selected text will be copied to both the primary and
  # the selection clipboard. Otherwise, it will only be copied to the selection
  # clipboard.
  save_to_clipboard: true

cursor:
  style: block

schemes:
  # Base16 Solarized Light - alacritty color config
  # Ethan Schoonover (modified by aramisgithub)
  light: &light
    # Default colors
    primary:
      background: '#F7F7F7'
      foreground: '#1C1C1C'

    # Normal colors
    normal:
      black:   '#000000'
      red:     '#D70000'
      green:   '#008700'
      yellow:  '#AF5F00'
      blue:    '#005FAF'
      magenta: '#870087'
      cyan:    '#008787'
      white:   '#BCBCBC'

    # Bright colors
    bright:
      black:   '#8A8A8A'
      red:     '#D75F5F'
      green:   '#5F8700'
      yellow:  '#D7AF5F'
      blue:    '#5F5FAF'
      magenta: '#AF5FAF'
      cyan:    '#5FAFAF'
      white:   '#FFFFFF'

  dark: &dark
    # default colors
    primary:
      background: '#1d1f21'
      foreground: '#c5c8c6'

    # Normal colors
    normal:
      black:   '#1d1f21'
      red:     '#cc6666'
      green:   '#b5bd68'
      yellow:  '#f0c674'
      blue:    '#81a2be'
      magenta: '#b294bb'
      cyan:    '#8abeb7'
      white:   '#c5c8c6'

    # Bright colors
    bright:
      black:   '#666666'
      red:     '#d54e53'
      green:   '#b9ca4a'
      yellow:  '#e7c547'
      blue:    '#7aa6da'
      magenta: '#c397d8'
      cyan:    '#70c0b1'
      white:   '#eaeaea'

colors: *dark
